.home {
    width: 100%;
    min-height: calc(100vh - 76px);

    box-sizing: border-box;

    background: #05080f;
}

@media (max-width: 768px) {
    .home {
        min-height: calc(100vh - 64px);
    }
}