.streak {
    display: flex;
    align-items: flex-start;
    gap: 8px;

    min-width: 105px;
    margin-right: 50px;
}


/* =====================================
   FIRE ICON
===================================== */

.iconWrapper {
    width: 30px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-top: 1px;
}

.fireIcon {
    width: 40px;
    height: 40px;

    display: block;
    object-fit: contain;

    filter: drop-shadow(
        0 0 5px rgba(245, 195, 41, 0.35)
    );
}

/* =====================================
   CONTENT
===================================== */

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 3px;
}


/* =====================================
   STREAK NUMBER
===================================== */

.value {
    color: #ffffff;

    font-size: 20px;
    font-weight: 700;

    line-height: 1;
}


/* =====================================
   LABEL
===================================== */

.label {
    color: #858d9c;

    font-size: 15px;
    font-weight: 500;

    line-height: 1.2;

    white-space: nowrap;
}